**List**
 
1) List is an ordered sequence of items. 
 
2) We can have different data types under a list. E.g we can have integer, float and string items in 
a same list.

In [ ]:
list1 =[]

In [3]:
print(type(list1))

<class 'list'>

In [4]:
list2 =[10,30,60]

In [ ]:
list3 =[10.77,30.66,60.89]

In [6]:
list4 =['one','two','three']

In [7]:
list5 =['Saurabh',25,[50,100],[150,90]]

In [8]:
list6 = [100,'Asif',17.765]

In [9]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [10]:
len(list6)

3

In [11]:
list2[0]

10

In [13]:
list4[0]

'one'

In [14]:
list4[0][0]

'o'

In [15]:
list4[-1]

'three'

In [16]:
list5[-1]

[150, 90]

In [17]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [18]:
mylist[0:3]

['one', 'two', 'three']

In [20]:
mylist[2:5]

['three', 'four', 'five']

In [21]:
mylist[:2]

['one', 'two']

In [30]:
mylist[-3:]

['six', 'seven', 'eight']

Add , Remove & Change Items

In [32]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [34]:
mylist.append('nine')
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [35]:
mylist.insert(9,'ten')

In [36]:
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [39]:
mylist.pop(10)

'nine'

In [40]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [46]:
mylist.insert(1,'ONE')
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [48]:
mylist.remove('ONE')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [49]:
mylist.pop()
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [50]:
mylist.pop(8)
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [51]:
del mylist[7]
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [52]:
mylist[0] = 1 
mylist[1] = 2 
mylist[2] = 3 
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [53]:
mylist.clear()
mylist

[]

In [54]:
del mylist
mylist

NameError: name 'mylist' is not defined

Copy List

In [55]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine','ten']

In [56]:
mylist1 = mylist

mylist1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [57]:
id(mylist),id(mylist1)

(2486430452552, 2486430452552)

In [58]:
mylist2 =mylist.copy()

In [59]:
id(mylist2)

2486430228680

In [62]:
mylist[0] =1

mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [63]:
mylist1

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [64]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

Join Lists

In [65]:
list1 =['one','two','three','four']
list2 =['five','six','seven','eight']

In [66]:
list3 = list1+list2
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [67]:
list1.extend(list2)
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

List Membership

In [68]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [69]:
'one' in list1

True

In [70]:
if 'three' in list1:
    print('Three is present in the list')
else:
    print('three is not present')

Three is present in the list

Reverse & Sort List

In [71]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [73]:
list1.reverse()

In [74]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [75]:
list1= list1[::-1]

In [76]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [79]:
mylist3 = [9,5,2,99,12,88,34] 

#mylist

In [80]:
mylist3.sort()

In [81]:
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [83]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True)
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [84]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [85]:
mylist4

[88, 65, 33, 21, 11, 98]

Loop through a list

In [86]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [87]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [88]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Count

In [89]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [90]:
list10.count('one')

3

All / Any 
 
The all() method returns: 
 
True - If all elements in a list are true 
False - If any element in a list is false 
 
The any() function returns True if any element in the list is True. If not, any() returns False.

In [91]:
L1 = [1,2,3,4,0]

In [92]:
all(L1)

False

In [93]:
any(L1)

True

In [94]:
L2 = [1,2,3,4,True,False]

In [95]:
all(L2) # Returns false as one value is false

False

In [96]:
any(L2) # Will Return True as we have items in the list with True value

True

In [97]:
L3 = [1,2,3,True]

In [98]:
all(L3) # Will return True as all items in the list are True

True