**Python Print** 5/11/24

In [1]:
a=10
b=20

a+b

30

In [2]:
a=10
b=20


print(a)
print(b)

10
20

In [3]:
num1= 10
num2 = 20

add  = num1+num2

print(add)

30

Print result with string

In [7]:
num1= 10
num2 = 20

add  = num1+num2

print('Addition of',num1,'and',num2,'is',add)

Addition of 10 and 20 is 30

Print format method

In [10]:
num1= 10
num2 = 20

add  = num1+num2

print('Addition of {} and {} is {}'.format(num1,num2,add))

Addition of 10 and 20 is 30

In [11]:
name= 'Saurabh'
age= 26
city='Pune'

print('My name is {} and I am {} years old from {} city'.format(name,age,city))

My name is Saurabh and I am 26 years old from Pune city

In [18]:
num1 = 100
num2 =25
num3 =333

avg =((num1+num2+num3)/3) #or
avg1= round((num1+num2+num3)/3,2)

print(avg)
print(avg1)

152.66666666666666
152.67

In [19]:
round(avg,2)

152.67

More short format meythod(f string method) 
variable should be in curly braces  
and write everything inside quots ''  
at starting simpaly add f

In [21]:
num1 =20
num2 =30

add= num1+num2
print(f'addition of {num1} and {num2} is {add}')

addition of 20 and 30 is 50

In [24]:
name='Python' 
age=20 
city='hyd' 

print(f'my name is {name},I am {age} years old from {city}')

my name is Python,I am 20 years old from hyd

In [27]:
num1=100 
num2=25 
num3=333 
avg=round((num1+num2+num3)/3,2)

print(f'average of {num1},{num2} and {num3} is {avg}')

average of 100,25 and 333 is 152.67

In [28]:
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

end statement

In [29]:
print('hello') # 1st statement 
print('good moorning') # 2nd statement)

hello
good moorning

In [35]:
#Here we will use end statement that joint line from end of one string to starting of other string
print('hello',end=' ') # 1st statement 
print('good moorning') # 2nd statement)

hello good moorning

seprator 
 
here one print statement only we use 
 
insisde one print statement we have multipal values 
 
we want to seperate these multipal values with anything

In [39]:
print('hi','hello','hey',sep='--->')

hi--->hello--->hey

In [40]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [41]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [43]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [44]:
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words)

3.

In [45]:
print(1,2,end=' ') 
print(3,'.',sep='') 
# will print 1 2 3.

1 2 3.