# Sets

1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

### Set Creation

In [1]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset)

5

In [4]:
my_set= {1,1,2,2,3,3,4,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [5]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [6]:
myset2 ={'Asif','John','Tyrion'}
myset2

{'Asif', 'John', 'Tyrion'}

In [7]:
myset3 ={10,20,"Hola",(11,22,33)}
myset3

{(11, 22, 33), 10, 20, 'Hola'}

In [8]:
myset3 ={10,20,"Hola",[11,22,33]}
myset3

TypeError: unhashable type: 'list'

### Loop through a Set

In [12]:
myset = {'one','two','three','four','five','six','seven','eight'}

for i in myset:
    print(i)

one
four
seven
two
eight
five
three
six

In [13]:
for i in enumerate(myset):
    print(i)

(0, 'one')
(1, 'four')
(2, 'seven')
(3, 'two')
(4, 'eight')
(5, 'five')
(6, 'three')
(7, 'six')

### Set Membership

In [14]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [15]:
'one' in myset

True

In [16]:
'ten' in myset

False

In [17]:
if'three' in myset:
    print('Three is present')
else:
    print('Three is not present')

Three is present

In [18]:
if'eleven' in myset:
    print('eleven is present')
else:
    print('eleven is not present')

eleven is not present

### Add & Remove Items

In [24]:
myset ={'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [25]:
myset.add('NINE')

In [26]:
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [27]:
myset.update(['TEN','ELEVEN','TWELVE'])
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [28]:
myset.remove('NINE')
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [29]:
myset.discard('TEN')

In [31]:
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [32]:
myset.clear()
myset

set()

In [33]:
del myset

In [34]:
myset

NameError: name 'myset' is not defined

### Copy Set

In [35]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'} 
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 = myset # Create a new reference "myset1"

In [37]:
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [38]:
id(myset), id(myset1)

(2149009213704, 2149009213704)

In [39]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [40]:
id(my_set)

2149009213032

In [ ]:
myset.add('nine')

In [42]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [43]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [44]:
my_set # Copy of the set won't be impacted due to changes made on the original S

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

### Set Operation

#### Union

In [45]:
A= {1,2,3,4,5}
B ={4,5,6,7,8}
C ={8,9,10}

In [46]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [49]:
""" 
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C. 
""" 
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Intersection

In [50]:
A ={1,2,3,4,5}
B ={4,5,6,7,8}

In [51]:
A & B

{4, 5}

In [52]:
A.intersection(B)  Intersection of A & B

SyntaxError: invalid syntax (2540042692.py, line 1)

In [53]:
""" 
Updates the set calling the intersection_update() method with the intersection o 
For below example Set A will be updated with the intersection of A & B. 
""" 
A.intersection_update(B) 
A

{4, 5}

### Difference

In [54]:
A ={1,2,3,4,5}
B ={4,5,6,7,8}

In [55]:
A-B

{1, 2, 3}

In [56]:
A.difference(B)

{1, 2, 3}

In [57]:
B-A

{6, 7, 8}

In [58]:
B.difference(A)

{6, 7, 8}

In [59]:
""" 
Updates the set calling the difference_update() method with the difference of se 
For below example Set B will be updated with the difference of B & A. 
""" 
B.difference_update(A) 
B

{6, 7, 8}

### Symmetric Difference

In [60]:
A = {1,2,3,4,5} 
B = {4,5,6,7,8}

In [61]:
A^B

{1, 2, 3, 6, 7, 8}

In [63]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [64]:
""" 
Updates the set calling the symmetric_difference_update() method with the symmet 
For below example Set A will be updated with the symmetric difference of A & B. 
""" 
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

### Subset , Superset & Disjoint

In [65]:
A = {1,2,3,4,5,6,7,8,9} 
B = {3,4,5,6,7,8} 
C = {10,20,30,40}

In [66]:
B.issubset(A)

True

In [67]:
A.issuperset(B)

True

In [68]:
C.isdisjoint(A)

True

In [69]:
B.isdisjoint(A)

False

### Other Builtin functions

In [70]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [71]:
sum(A)

45

In [72]:
max(A)

9

In [73]:
min(A)

1

In [74]:
len(A)

9

In [75]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [76]:
D = sorted(A,reverse=True)

In [77]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [78]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Dictionary 

Dictionary is a mutable data type in Python. 

A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed 
in curly braces {}. 

Keys must be unique in a dictionary, duplicate values are allowed.

##### Create Dictionary

In [79]:
mydict = dict() # empty dictionary 
mydict

{}

In [80]:
mydict = {} # empty dictionary 
mydict

{}

In [81]:
mydict = {1:'one',2:'two',3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [83]:
mydict = dict({1:'one',2:'two',3:'three'})
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [85]:
mydict = {1:'One', 'A':'Two',3:'Three'}

In [86]:
mydict.keys()

dict_keys([1, 'A', 3])

In [87]:
mydict.values()

dict_values(['One', 'Two', 'Three'])

In [88]:
mydict.items()

dict_items([(1, 'One'), ('A', 'Two'), (3, 'Three')])

In [ ]:
mydict = {1:'one',2:'two','A':['asif','john','maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'matia']}

In [90]:
mydict = {1:'one',2:'two','A':['asif','john','maria'], 'B':['Bat','Cat','Hat']}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'maria'],
 'B': ['Bat', 'Cat', 'Hat']}

In [92]:
keys ={'a','b','c','d'}
mydict3=dict.fromkeys(keys)
mydict3

{'a': None, 'd': None, 'b': None, 'c': None}

In [94]:
keys ={'a','b','c','d'}
value =10
mydict3 = dict.fromkeys(keys,value)
mydict3

{'a': 10, 'd': 10, 'b': 10, 'c': 10}

In [95]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30]}

In [96]:
value.append(40) 
mydict3

{'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

### Accessing Items

In [97]:
mydict ={1:'One',2:'two',3:'three',4:'four'}
mydict

{1: 'One', 2: 'two', 3: 'three', 4: 'four'}

In [98]:
mydict[1]

'One'

In [99]:
mydict.get(1)

'One'

### Add, Remove & Change Items

In [101]:
mydict1 = {'Name': 'Asif','ID':12345,'DOB': 1991,'Address':'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [102]:
mydict1['DOB'] = 1992
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [103]:

dict1 = {'DOB':1995} 
mydict1.update(dict1) 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [105]:

mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [106]:
mydict1.pop('Job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [107]:
mydict1.popitem()

('Address', 'Delhi')

In [108]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [109]:
del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [110]:
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

### Copy Dictionary

In [111]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'} 
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [112]:
mydict1 = mydict

In [113]:
id(mydict) , id(mydict1)

(2149010049136, 2149010049136)

In [114]:
mydict2 = mydict.copy()

In [115]:
id(mydict2)

2149008343544

In [116]:
mydict['Address'] = 'Mumbai'

In [117]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [118]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [119]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

### Loop through a Dictionary

In [121]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [123]:
for i in mydict1: 
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

### Dictionary Membership

In [124]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [125]:
'Name' in mydict1

True

### All / Any 
The all() method returns: 
True - If all all keys of the dictionary are true 
False - If any key of the dictionary is false 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [126]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'} 
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [127]:
all(mydict1)

True