Tuple Creation

In [1]:
tup1=()

In [2]:
tup2=(10,30,60)

In [3]:
tup3=(10.77,30.66,60.89)

In [4]:
tup4=('one','two','three')

In [5]:
tup5 = ('Asif',25,(50,100),(150,90))

In [6]:
tup6 = (100,'Asif',17.765)

In [7]:
tup7 =('Asif',25,[50,100],[150,90],{'John','David'},(99,22,33))

In [9]:
len(tup7)

6

Tuple Indexing

In [11]:
tup2[0]

10

In [12]:
tup4[0]

'one'

In [13]:
tup4[0][0]

'o'

In [14]:
tup4[-1]

'three'

In [15]:
tup5[-1]

(150, 90)

Tuple Slicing

In [16]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [17]:
mytuple[0:3]

('one', 'two', 'three')

In [18]:
mytuple[2:5]

('three', 'four', 'five')

In [19]:
mytuple[-3:]

('six', 'seven', 'eight')

In [20]:
mytuple[-1]

'eight'

In [22]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

Remove and change Items

In [23]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
del mytuple[0] #notallowed bcz immutable

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple[0]=1 #notallowed bcz immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple #works

Loop through Tuple

In [28]:
mytuple =('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [29]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [30]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

Tuple Membership

In [31]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [32]:
'one' in mytuple

True

In [33]:
if 'three' in mytuple:
    print('Three is present')
else:
    print('Three is not present')

Three is present

Index Position

In [35]:
mytuple.index('one')

0

In [36]:
mytuple.index('five')

4

Sorting

In [37]:
mytuple2 =(43,67,99,12,6,90,67)

In [38]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [39]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]